
zajecia.ipynb
zad3/.ipynb_checkpoints/zajecia-checkpoint.ipynb
zad3/zad4_1.ipynb
zad3/zad4_2.ipynb
zad5/.ipynb_checkpoints/zad5_1-checkpoint.ipynb
zad5/.ipynb_checkpoints/zajecia_9_01-checkpoint.ipynb
zad5/zajecia_9_01.ipynb
zad3/zad4_2.ipynb
zad3/zad4_1.ipynb
